<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOUR APP</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>

<body>
    <header>
        <div class="textos">
            <h1 class="titulo">CONOCE QUITO</h1>
            <h3 class="subtitulo">Tour APP </h3>
            <a href="/login" class="boton"> Login </a>
            <a href="/Registro" class="boton"> Registro </a>
            <a href="/games" class="boton"> Games </a>

        </div>
        <div class="sesgoabajo"></div>
    </header>
    <main>
        <section class="acerca-de">
            <div class="contenedor">
                <h2 class="sobre-nosotros">¿De que se trata la ruta de las iglesias?</h2>
                <p class="parrafo">La "Ruta de las Iglesias" es una carrera atlética de 10Km, que desde su primera
                    edición fue reconocida por los participantes, y público en general, como la mejor carrera en el
                    Ecuador en este ámbito. Cada año se la realiza en honor a su mentalizador, Saadin Solah.

                    Esta carrera es extraordinaria, tiene lugar en el Centro Histórico más bello de Sudamérica. Se
                    realiza durante la noche, permitiendo a propios y extraños admirar con nuevos ojos el centro de
                    nuestra capital.

                    La carrera cuenta con un grupo numeroso de voluntarios y un sistema de chips para cronometrar el
                    tiempo exacto de todos los participantes. Todos los atletas que lleguen a la meta recibirán una
                    medalla y una manta térmica, además hay fabulosos premios para los ganadores de cada categoría.</p>
                <p class="parrafo">Tou app se encarga en dar a conocer las iglesias internamente
                    en 3d de manera web dando a conocer de manera dinamica cada uno de los atractivos turisticos y
                    historicos
                    a diversas personas que se encuentren fuera y dentro de QUITO
                </p>
            </div>
        </section>
        <section class="galeria">

            <div class="sesgoarriba"></div>

            <!--sirve para  crear repeticiones (.imagenes>img[src="$.jpg"])*5-->
            <div class="imagenes"><img src="/img/1.jpg" alt=""></div>
            <div class="imagenes"><img src="/img/2.jpg" alt=""></div>
            <div class="imagenes"><img src="/img/3.jpg" alt=""></div>
            <div class="imagenes"><img src="/img/4.jpg" alt=""></div>
            <div class="imagenes"><img src="/img/5.jpg" alt=""></div>

            <div class="sesgoabajo"></div>
        </section>
        <section class="mienbros">
            <div class="contenedor">
                <h2 class="sobre-nosotros">NUESTRO EQUIPO</h2>
                <h3 class="slogan">conoce a nuestro equipo de trabajo</h3>
                <div class="cards">
                    <div class="card">
                        <img src="/img/logo-1.jpg" alt="">
                        <h4>Steven Chinchin</h4>
                        <p>Lorem ipsum dolor sit.</p>
                    </div>
                    <div class="card">
                        <img src="/img/logo-2.jpg" alt="">
                        <h4>Paola Acosta</h4>
                        <p>Lorem ipsum dolor sit.</p>
                    </div>
                    <div class="card">
                        <img src="/img/logo-3.jpg" alt="">
                        <h4>Alexander Larco </h4>
                        <p>Lorem ipsum dolor sit.</p>
                    </div>

                </div>
            </div>
        </section>
        <section class="fondo">
            <div class="sesgoarriba"></div>

            <div class="contenedor">
                <h2 class="titulo-patrocinadores">NUESTROS CLIENTES</h2>
                <h3 class="subtitulo-patrocinadores">Conoce algunas de nuestras iglesias en 3D</h3>
                <div class="clientes">
                    <div class="cliente"><img src="/img/1.jpg" alt=""></div>
                    <div class="cliente"><img src="/img/2.jpg" alt=""></div>
                    <div class="cliente"><img src="/img/3.jpg" alt=""></div>

                </div>
                <h3 class="subtitulo-patrocinadores especial">y muchos mas clientes......</h3>
            </div>
            <div class="sesgoabajo-unico"></div>
        </section>
    </main>
    <footer>
        <div class="contenedor">
            <h2 class="titulo-footer">CONTACTANOS</h2>
            <h3 class="subtitulo-footer">lo apreciariamos mucho</h3>
            <div class="footer">
                <form action="/index" method="POST">
                    <input type="text" name="" id="" placeholder="nombre">
                    <input type="email" name="" id="" placeholder="email">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Ingrese su mensage"></textarea>
                    <input type="submit" value="ENVIAR">
                </form>
            </div>
        </div>
    </footer>
</body>

</html>