<!DOCTYPE html>
<html lang="es">

<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <hr>
    <div>
        <nav>
            <a href="/">Regresar</a>
            <a href="./games.html"></a>
            <hr>
        </nav>
        <div class="form-login">
            <form method="GET" action="/login">
                <h4>Correo Electronico : </h4>
                <input type="text">
                <h4>Contraseña : </h4>
                <input type="text">
                <button type="button" class="buttons"> Ingresar</button>
            </form>
        </div>
    </div>

    <div class="descripcion">
        <h1> San Francisco </h1>
        <img src="https://wp.es.aleteia.org/wp-content/uploads/sites/7/2018/09/web3-san-francisco-church-quito-diego-delso-cc-by-sa-4-0.jpg"
            alt="picture">

        <p>San Francisco es un templo icono de la arquitectura
            Latinoamericana, está ubicada en Quito, la capital de Ecuador. Aprecia sus obras de artes y conoce su
            tradicional y curiosa leyenda
            Iglesia San Francisco atesora gran variedad de manifestaciones artíticas que se encuentran realizadas con
            diferentes técnicas, la que más se destaca es la Escuela Quiteña que surge en éste lugar. Se han
            contabilizado que San Francisco posee 3.500 piezas artísticas de la época colonial. Tiene una extraordinaria
            biblioteca franciscana, con gran riqueza cultural.
            Esculturas de la Escuela Quiteña
            En el altar mayor de San Francisco, dominado por un gran retablo barroco y cubierto de pan de oro, destacan
            las esculturas de la "Virgen de Quito" de Legarda y del "Jesús del Gran Poder" del Padre Carlos; ambos
            destacados miembros de la escuela quiteña de arte.


            Pinturas de la Escuela Quiteña
            Se exhiben docenas de pinturas de famosos pintores quiteños y europeos; pero su principal atractivo radica
            en las obras pertenecientes a la escuela quiteña de arte, estilo que nació en los patios de este convento, y
            cuya fama trascendió las fronteras y hoy se encuentra en importantes museos de todo el mundo.</p>
    </div>


</body>


</html>